###> DATABASE CONFIG ###
DB_URL=
DB_USERNAME=
DB_PASSWORD=
###< DATABASE CONFIG ###

###> EMAIL CONFIG ###
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
###< EMAIL CONFIG ###

###> JWT SECRET ###
JWT_SECRET=
###< JWT SECRET ###

###> URL ###
FRONTEND_URL=
###< URL ###

###> URL ###
BACKEND_PORT=
###< URL ###